@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

a.dash-link:hover .profile {
    background-color:  #354672;
}
nav .top-nav{
    display: flex;
    justify-content: space-between;
    background: #354672;
    padding: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
nav .top-nav button{
    background: none;
    border: none;
    outline: none;
}
nav .menuDB{
    padding: 18px;
}
.sidebar{
    background:#071733;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 58px;
    /* display: none; */
    transform: translateX(-100%);
    transition: all 1s ease;
}
nav .block{
    /* display: block; */
    transform: translateX(0);
    transition: all 1s ease;

}
nav .sidebar .image img{
    border-radius: 50%;
    margin: 33px 70px 0px;
}
nav .sidebar .image h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
}
nav .sidebar .close{
    position: absolute;
    top: 16.5px;
    right: 17.5px;
    cursor: pointer;
    display: none;
}
.nav-links .profile {
    display: flex;
    color: white;
    padding: 13px 45px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.nav-links .profile span p{
    margin: 0px;
    padding-left: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.sidebar .email {
    position: absolute;
    bottom: 28px;
    left: 25px;
    color: white;
    text-align: center;
}
#active{
    background: #354672;
}

@media (min-width: 1200px){
    .sidebar{
        /* display: block; */
        transform: translateX(0);
    }
}
@media (min-width: 996px) and (max-width: 1199px){
    .sidebar{
        /* display: block; */
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    nav .sidebar .close {
        display: block;
    }
}